{% extends 'base1.html' %}
                {% block content %}
        <div class="container pt-5">
            <div class="row">
                <div class="col-md-3">
                    <h3>Masukan Kegiatan Baru :</h3>
                    <form action="" method="post" class="mt-4 kegiatan-form">
                        {{form_kegiatan}}
                        {% csrf_token %}
                        <input type="submit" class="btn btn-primary mt-2" value="Tambahkan"> 
                    </form>
                </div>
            </div>
        </div>

        <div class="container pt-5">
        <div class = "column">
{% for i in kegiatan_list %}
<div class = "col-auto">
    <div class = "card text-black mb-3", style = "width: 50%">
        <div class = "card-body">
            <h5 class = "card-title">{{i.name}}</h5>
            <ul>
            {% for j in kegiatan_list.Kegiatan__set.all %}
                    <p class = "card-text"><li>{{j.name}}</li><p>
            {% endfor %}
            </ul>
           
                          <h3>Tambah Orang Gan :</h3>
                        <form action="{% url 'Orang_add' %}" method="post" class="mt-4 kegiatan-form">
                        {{form_orang.name}}
                        {% csrf_token %}
                        <input type="hidden" name="Kegiatan"value="i.id">
                        <input type="submit" class="btn btn-primary mt-2" value="Tambahkan"> 
                        </form>
                         
            <form action="{% url 'kegiatan_delete' i.id%}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-icon btn-danger" type="submit"><i class="fa fa-trash"></i>
                        </button>
                    </form>

        </div>
    </div>
</div>   
{% endfor %}

           

        
        
    
    
      {% endblock content %}
   
